* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(49, 49, 49);
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text {
  font-size: 50px;
  color: rgba(255, 255, 255, 0.1);
}
.text span {
  position: relative;
  cursor: default;
  transition: 0.5s;
}

.text:hover span {
  color: #fff;
  transition: 0.5s;
  filter: drop-shadow(0 0 10px #fff);
  /* text-shadow: 0 0 10px #fff; */
}
