* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  position: relative;
  background-color: rgb(49, 49, 49);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  color: rgba(255, 255, 255, 0.5);
  overflow: hidden;
}

.div {
  position: absolute;
  width: calc(1px * var(--size));
  height: calc(1px * var(--size));
  border-radius: 50%;
  background-color: red;
  filter: drop-shadow(0 0 10px red);
  animation: fire 4s ease-out var(--delay) forwards;
}

@keyframes fire {
  0% {
    transform: translate(var(--x), 0px);
  }
  100% {
    transform: translate(var(--x), -400px);
  }
}
