* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  position: relative;
  background-color: rgb(49, 49, 49);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  overflow: hidden;
}

.div {
  position: absolute;
  width: calc(0.1px * var(--size));
  height: calc(0.1px * var(--size));
  border-radius: 50%;
  background-color: skyblue;
  box-shadow: 0 0 30px skyblue;
  animation: fire 4s ease-out var(--delay) forwards;
}

@keyframes fire {
  0% {
    transform: translate(var(--x), 0px);
  }
  100% {
    transform: translate(var(--x), -400px);
  }
}

.span {
  transform: rotate(var(--deg));
  transform-origin: bottom;
  overflow: hidden;
  height: 100px;
  width: 2px;
  position: absolute;
  filter: hue-rotate(var(--hue));
  filter: drop-shadow(0 0 50px skyblue);
  /* background-color: skyblue; */
}
.span::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  border: none;
  background-color: skyblue;
  filter: hue-rotate(var(--hue));
  animation: animate1 5.5s linear forwards;
  /* z-index: 2; */
}

@keyframes animate1 {
  0% {
    transform: translateY(100px);
  }
  20% {
    transform: translateY(40px);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-50px);
  }
  80% {
    transform: translateY(-80px);
  }
  100% {
    transform: translateY(-100px);
  }
}
