* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.rect {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  border: 3px solid;
}

.rect1 {
  border-color: hsl(0, 50%, 50%);
}
.rect2 {
  border-color: hsl(120, 50%, 50%);
}

.rect3 {
  border-color: hsl(240, 50%, 50%);
}

.rect4 {
  border-color: hsl(60, 50%, 50%);
}

.rect5 {
  border-color: hsl(180, 50%, 50%);
}

.rect6 {
  border-color: hsl(300, 50%, 50%);
}

.group {
  border-color: hsl(210, 50%, 50%);
}
