<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>birthday-34</title>
    <link rel="stylesheet" href="./index.css" />
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  </head>
  <body>
    <div class="app" v-cloak>
      <div v-for="(row,rowIndex) in rows" :key="rowIndex" class="row">
        <div v-for="(col,colIndex) in cols" :key="colIndex" class="col">
          <div class="square" :style="cssVars(row,col)"></div>
        </div>
      </div>

      <!-- <div class="img-box">
        <div class="front" style="--l: 0; --r: 300"></div>
        <div class="back" style="--l: 300; --r: 0"></div>
      </div> -->
    </div>
  </body>

  <script>
    const { createApp, ref, computed } = Vue;

    createApp({
      setup() {
        const rows = ref(4);
        const cols = ref(4);

        const cssVars = (row, col) => {
          return {
            '--x': col - 1,
            '--y': row - 1,
            '--d': (row + col) / 30 + 's'
          };
        };

        return {
          rows,
          cols,
          cssVars
        };
      }
    }).mount('.app');
  </script>
</html>
