[v-cloak] {
  display: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text {
  width: 280px;
  height: 280px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  background-image: url(front.jpeg);
  background-size: cover;

  /* background-attachment: fixed; */
  background-blend-mode: color-dodge;
  -webkit-background-clip: text;
  background-clip: text;
}

.flex-div {
  display: flex;
  height: 10.5px;
  width: 6px;
}
.div {
  height: 10.5px;
  width: 6px;
}

.ps-div {
  position: relative;
}

.ps-div span {
  position: absolute;
  transform: translate(var(--x), var(--y)) rotate(var(--r)) scale(10);
}

span {
  transform: translate(0, 0) rotate(0deg) scale(1);
  transition: all 1s;
  color: wheat;
  font-size: 12px;
}

.animation {
  animation: hr 1s infinite forwards;
}

.tp {
  color: transparent;
}

@keyframes hr {
  0% {
    filter: hue-rotate(var(--r));
  }

  100% {
    filter: hue-rotate(0);
  }
}
