<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>birthday-34</title>
    <link rel="stylesheet" href="./index.css" />
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  </head>
  <body>
    <div class="app" v-cloak>
      <div v-for="(row,rowIndex) in rows" :key="rowIndex" class="row">
        <div v-for="(col,colIndex) in cols" :key="colIndex" class="col">
          <div class="square" :style="cssVars(row,col)">
            <!-- <span>{{ (row + col) / 2 + Math.abs(row - col) / 5}}</span> -->
          </div>
        </div>
      </div>
    </div>
  </body>

  <script>
    const { createApp, ref, computed } = Vue;

    createApp({
      setup() {
        const rows = ref(30);
        const cols = ref(30);

        const cssVars = (row, col) => {
          return {
            '--x': col,
            '--y': row,
            '--d': (row + col) / 5 + Math.abs(row - col) / 5 + 's'
          };
        };

        return {
          rows,
          cols,
          cssVars
        };
      }
    }).mount('.app');
  </script>
</html>
